.home-page-title {
    background-image: url("../images/stock-image.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    padding-top: 100pt;
    border-bottom: 5px ridge;
    height: 91vh;

}

.home-page-font {
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-stretch: extra-expanded;
    margin-bottom: 60pt;
    vertical-align: middle;
}


#scrollToCarouselBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

